* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html, body{
    background-color: #000000;
    font-family: 'Rubik', sans-serif;
    width:  100%;
    height: 100%;
    margin: 1px 
}


.header-home{
	
	display: flex;
    width: 100%;
    height: 750px;
	justify-content: space-between;
    background-image: url("../img/jhonsnow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  


}

nav{
  width: 100%;
  height: 60px;
  display: flex;
   background-color: rgba(251, 251, 251, 0.26);
   justify-content: space-between;
}

.logo img
{
    width: 200px;
    padding: 15px;
}


a {
  color: rgb(6, 6, 6);
  text-decoration: none;
}
.menu,
.submenu {   
  list-style-type: none;
  
}

.item {
  padding: 10px;
  
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items:first baseline;

  
}

.submenu{
  background-color: rgba(251, 251, 251, 0.26);
  display: none;
  
}

.con-submenu:hover .submenu{
  display: block;
}

.toggle
{
  display: none;
}

.menu li a {
  display: block;
  padding: 5px 15px 15px;
  text-transform: uppercase;
  
  
}

nav ul li a:hover {
  color: #abaaaa;
  transition: .9s;
}

.menu li.subitem a {
  padding: 15px;
}

.con-submenu > ::after{
  font-family: "Font Awesome 5 free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  padding: 5px;
}





/*###########################*/
h1{
    color: antiquewhite;
   
    
}

.presentacion{
    text-align: center;
    
    background-color: #000000;
   
}
.presentacion p {
    color: #abaaaa;
    padding:100px;
    padding-top: 50px;
    
    
 
}

.hielo 
{
    display: flex   ;
    padding-right: 80px;
    
}


.hielo article{
    width: 40%;
    margin: 20px;
 }

.hielo h3
{
    color: aliceblue ;
    padding-top: 220px;
    text-align: center;
    
}

.hielo p {
    color: aliceblue ;
    padding-top: 50px;
    text-align: center;
    
}
.fuego 
{
    display: flex   ;
    padding-left: 80px;
    
}


.fuego article{
   width: 40%;
   margin: 20px;
}

.fuego h3
{
    color: aliceblue ;
    padding-top: 200px;
    text-align: center;
    
}

.fuego p {
    color: aliceblue ;
    padding-top: 50px;
    text-align: center;
    
}

footer{
    width: 100%;
    background-size: cover;
    background-color: rgb(21, 21, 21);
    background-image: linear-gradient(to bottom, #050404 ,#14262f, #27424c  );
    height: 20%;
    display: flex;
    justify-content: space-between;
    
   

    
}

 .copy { 
    color: antiquewhite;
    align-self: end;
    
}

.footer-logo{

display: flex;


    
}



.redes
{
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 30px;
    flex-wrap: wrap;
    cursor: pointer;
    
    
}

.icono{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .9s;
}

.icono:hover{
    background-color: #f62d7d;
    box-shadow: 0 0 20px 5px  #f62d7d;
}

.icono:hover:nth-child(2){
    background-color: #2b3dff;
    box-shadow: 0 0 20px 5px  #2b3dff;
}

.icono:hover:nth-child(3){
    background-color: #f91616;
    box-shadow:0 0 20px 5px   #f91616;
}

.icono:hover:nth-child(4){
    background-color: #0d9c27;
    box-shadow: 0 0 20px  5px #0d9c27;
}

.icono i   {
   
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
}

svg circle{
    stroke-dasharray:90;
    transition: all 0.9s ease-in-out;
}

.icono:hover circle {
    stroke-dasharray:220;
  
}

/* #################### usuario ################   */
.main-contacto{
    height: 80%;
    background-image: url(../img/contacto.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

  
  .login {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login .dato {
    position: relative;
  }
  
  .login .dato input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login .dato label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login .dato input:focus ~ label,
  .login .dato input:valid ~ label {
    top: -20px;
    left: 0; 
    color: #03e9f4;
    font-size: 12px;
  }
  .botonera{
    display: flex;
    justify-content: space-around;
  }
  
  .login form button {
    position: relative;
    display: inline-block;

    padding: 10px 20px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: transparent;
  }
  
  .login button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  /* ################   ARTE ################# */

  .main-galeria {

    margin-bottom: 5%;
    background-image: linear-gradient(to right top, #070004, #070107, #07020a, #06030d, #04050f, #030813, #020c16, #000f18, #00141b, #00181d, #001c1d, #021f1d);
    

  }

  .arte
  {
    width: 100%;
    padding-top: 10%;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .arte a img {
    margin: 10px;
    
  }
  
  .main-galeria h1 {
    padding-top: 5%;
    text-align: center;
  }
  
  /* ########## CASAS ########### */
  
  .main-casas{
    
    padding: 5%;
    width: 100%;
    background-image: url(../img/casas/westeros.jpg);
    
    
    
  }

  .main-casas h1{
  display: none;
  }

  .casa{
    margin: 5%;
    display: flex;
    background: rgba(0,0,0,.6);
    box-sizing: border-box;
    box-shadow: 0 15px 40px rgba(0,0,0,.7);
    border-radius: 10px;
  }

  .casa  .descripcion 
  {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  align-items: center;
  }

  .casa .descripcion h3
  {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color:#fff;
    

  }

  .casa .descripcion p
  {
    
    margin-top: 50px;
    font-size: 1.4rem;
    color:#fff;
  }

 /* ########## heroes ########### */

 .main-personajes
 {
  
 
  padding: 10%;
  
  background-image: linear-gradient(to right top, #070004, #070107, #07020a, #06030d, #04050f, #030813, #020c16, #000f18, #00141b, #00181d, #001c1d, #021f1d);
 

 }

 .personaje
 {
display: flex;
align-items:start;
margin-bottom: 30px;

 }

 .personaje .descripcion
 {
  display: block;
 }
 .personaje img{

  width: 300px;

 }
 .personaje .descripcion{
  padding-top: 5%;
 }

  .personaje .descripcion h3
 {
    
  color: #ffffff ;
  margin-left: 5%;

 }
 .personaje .descripcion p
 {
    
  color: #ffffff ;
  font-size: 1.2rem;
  padding: 5%;

  
 }



 /* ########## criaturas ########### */

 .main-criaturas
 {
  margin-top: 0%;
  width: 100%;
  min-height: 100%;
  background-image: url(../img/criaturas/fondo-criaturas.jpg);
  background-size: cover;
  
 

 }
 
 .main-criaturas h1{
  color: #e7e2e2 ;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 70px;
  font-weight: bolder;
  text-decoration: underline ;
 }

 .container{

  background-color: #2222225c;
  padding: 3%;
  border-radius: 10px;
  width: 80%;
  margin:  auto ;
  box-sizing: border-box;
  box-shadow: 0 15px 25px   rgba(0,0,0,.6);
  
 }
 .container .carousel
 {

 width: 90%;
  margin: auto;
  margin-bottom:30px ;
 }

 .container .texto p
 {
    font-size:  1.2em; 
    margin-bottom: 20px;
    margin-top: 10px;
    color:#e3e2e2d7;
    
 }
 .container .texto h2
 {
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 2em;
    color:#ffffff92;
    
    
 }


 .texto span{
  font-size: 1.3em;
  font-weight: bolder;
  color: #03e8f46f ;
  
 }
 .texto span:hover{
  
  color: rgba(255, 255, 255, 0.777) ;
  background-color: #03e8f4a7;
  box-shadow: 0 0 5px #03e8f4a7,
                0 0 25px  #03e8f4a7,
                0 0 50px  #03e8f4a7,
                0 0 100px  #03e8f4a7;
  
 }


 @media ( max-width: 576px )
 {
  
  nav{
    display: block;
    text-align: center;
    
  }

  .menu{
    display: flex;
     background-color: rgba(251, 251, 251, 0.26);
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin-top: 13px;
     z-index: 1000;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;

  }

  .menu li.subitem a {
    padding: 15px;

  }
  .toggle{
    margin: auto;
    font-size: 30px;
  }
  .item{
    width: 100%;
    text-align: center;
    display: none;

  }

  .active .item {

    display: block;

  }

  
  

  /* ################ HOME ##############*/

  .header-home
  {
    width: 100%;
  }

  .hielo , .fuego
  {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fuego img,
  .hielo img
  {
    max-width: 500px;

    margin: 0;
  }

  .presentacion
  {
    padding-left: 0px;
    padding-right: 0px;
  }

  article{
    padding-top: 0%;
    margin-top: 10px;
  }

  .hielo article
  {
    margin-left: 5%;
    width: 90%;
  }
 .fuego{
 justify-content: flex-start;

  }
  .fuego img{
   
  }

  .fuego article
  {
    margin: 5%;
    width: 90%;
  }


  footer{
    display: block;
    
    

  }

  .copy{
    margin-top: 15%;
    text-align: center;
    font-size: 20px;
    
  }

.redes
{
  padding: 5%;
  width: 90%;

}
.redes .icono{
  margin: 15px;
}

  }
 